body { 
  font-family: "Calibri", sans-serif;
  font-size: small;
  line-height: 1.7em; 
  background: #E0F7FA url(goosesil.png) no-repeat center 110px fixed;
}

h1 {
  font: 600 2.2em "Quicksand", sans-serif;
  color: #0077A6;
  text-shadow: .05em .05em .15em #66C5D1;
}

h2 {
  font-size: .95em;
  text-transform: uppercase;
  letter-spacing: .45em;
  color: #0097C1;
}

h2 + p { text-align: center; font-style: italic; }

dt { font-weight: bold; color: #006B84; }
strong, dt strong { color: #00A2C6; font-style: italic; }

h1, h2, #info { text-align: center; }

#info p { font-style: italic; color: #003f48; }

.price { font-style: italic; color: #004c5a; }

.label { font-weight: bold; font-variant: small-caps; }

p.warning, sup { color: #ff4d4d; }

blockquote {
  background-color: rgba(255, 255, 255, .7);
  padding: 1em;
}

h1, a { color: #006C8F; }

a { text-decoration: none; }
a:visited { color: #40838f; }
a:hover { color: #00a0c8; background-color: #fff; }
a:active { color: #00d0ff; background-color: #fff; }

.container {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.main-header {
  padding: 3em 1em;
  margin: 0 15%;
  background:
    url(gshadow.png) 90% bottom no-repeat;
  background-color: rgba(255,255,255,.6);
}
