body {
  font-family: "Trebuchet MS", sans-serif;
  background: #FFF3F3 url(goosesil.png) no-repeat center 140px fixed;
}

h1 {
  font: 800 2.4em "Poppins", sans-serif;
  color: #D43645;
  text-shadow: .05em .05em .15em #FF9CAF;
}

h2 {
  text-transform: uppercase;
  letter-spacing: .45em;
  color: #D44452;
}

dt { color: #A72E3A; font-weight: bold; }
strong, dt strong { color: #FF5568; }

a { color: #B23041; text-decoration: none; }
a:visited { color: #A75A63; }
a:hover { color: #ff5b6a; background: #fff; }
a:active { color: #ff8591; background: #fff; }

blockquote {
  background: rgba(255,255,255,.65);
  padding: 1em;
}

.main-header {
  padding: 3em 1em;
  margin: 0 15%;
  background:
    url(gshadow.png) 5% bottom no-repeat;
  background-size: 200px auto;
  background-color: rgba(255,255,255,.6);
}

