body {
    background-color: #ffeef4;
    font-family: Cambria, serif;
    color: #7a4a58;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #b56c86;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    width: 70%;
    margin: 10px auto 20px auto;
    line-height: 1.6;
}

 
ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
}

ul li {
    display: inline-block;
    margin: 0 10px;
}

ul li a {
    text-decoration: none;
    color: #b56c86;
    background-color: #ffd8e8;
    padding: 6px 12px;
    border-radius: 10px;
    border: 1px solid #f3b8cf;
}

ul li a:hover {
    background-color: #ffecf3;
}

a {
    color: #b56c86;
    text-decoration: none;
    padding: 8px 14px;
    background-color: #ffd8e8;
    border: 1px solid #f3b8cf;
    border-radius: 12px;
}

a:hover {
    background-color: #ffecf3;
}

footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #ffd8e8;
    border-top: 1px solid #f3b8cf;
    color: #7a4a58;
}

footer {
    margin-top: 40px;
    padding: 25px;
    background-color: #ffd8e8;
    border-top: 1px solid #f3b8cf;
    color: #7a4a58;
}
footer img {
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 10px;
}
