body {
    background-color: #faf2e4;
    margin: 0 10%;
    font-family: sans-serif;
    color: #333;
    line-height: 1.6;
}


h1 {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin: 30px 0;
    padding-bottom: 0.5em;
}

h2 {
    color: #d1633c;
    font-size: 1em;
    margin-top: 1.5em;
}

footer { 
    border-top: 1px solid #57b1dc;
    text-align: center;
    margin: 2em 0 0;
    padding-top: 1em;
}

footer svg {
    width: 40px;
    height: 40px;
    margin: 0 0.5em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
    margin-right: 1em;
}
