body { 
  font-family: "Palatino Linotype", Georgia, serif;
  font-size: small;
  line-height: 1.75em; 
  background: #f0d0b4 url(goosesil.png) no-repeat center 120px fixed;
}

h1 {
  font: 700 2em "Playfair Display", serif;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  letter-spacing: .03em;
color: #4A2125;
}

h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .4em;
  color: #A0522D;
}

h2 + p {
  text-align: center;
  font-style: italic;
}

dt { 
font-weight: bold; color: #b35c44; 
}

strong, dt strong { 
color: #D95336; font-style: italic; 
}

h1, h2, #info { text-align: center; 
}

#info p {
  font-style: italic;
  color: #222;
}

.price {
  font-family: Georgia, serif;
  font-style: italic;
  color: #333;
}

.label {
  font-weight: bold;
  font-variant: small-caps;
}

p.warning, sup {
  font-size: small;
  color: #c00;
}

h1, a { color: #8A4B27; }

a {
  text-decoration: none;
}

a:visited { color: #876565; }
a:hover { color: #b94f1f; background-color: #fff; border-radius: 10px;}
a:active { color: #e15a32; background-color: #fff; }

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.main-header {
  padding: 4em 2em 1em 1em;
  margin: 0 15%;
  background:
  url(gshadow.png) 90% bottom no-repeat;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 10px;
}

.center-text {
text-align: center;
}
