body {
  font-family: "Source Serif Pro", serif;
  background: #E9FFF6 url(goosesil.png) no-repeat center 120px fixed;
}

h1 {
  font: 700 2em "Cormorant Garamond", serif;
  color: #3A8D7A;
  letter-spacing: .03em;
  text-shadow: .04em .04em .15em #AEE6D7;
}

h2 {
  text-transform: uppercase;
  letter-spacing: .42em;
  color: #2C6F61;
}

dt { color: #28574C; font-weight: bold; }
strong, dt strong { color: #3E9686; }

a { color: #306F62; text-decoration: none; }
a:visited { color: #57857b; }
a:hover { color: #46ab97; background: #fff; }
a:active { color: #83e0cd; background: #fff; }

blockquote {
  background: rgba(255,255,255,.65);
  padding: 1em;
}

.main-header {
  padding: 3em 1em;
  background:
    url(gshadow.png) 90% bottom no-repeat;
  background-color: rgba(255,255,255,.55);
  margin: 0 15%;
}
