body {
  font-family: "Garamond", serif;
  background: #FFFEE4 url(goosesil.png) no-repeat left 40px top 30px;
  background-size: 220px auto;
  line-height: 1.8em;
}

h1 {
  font: 700 2.1em "Noto Serif", serif;
  color: #7A8E26;
  text-shadow: .05em .05em .12em #D4E37B;
}

h2 {
  text-transform: uppercase;
  letter-spacing: .45em;
  font-size: 1em;
  color: #556B2F;
}

h2 + p { text-align: center; font-style: italic; }

dt { font-weight: bold; color: #556B2F; }
strong, dt strong { color: #B8860B; }

#info p { font-style: italic; color: #333; }

a { color: #687D1B; text-decoration: none; }
a:visited { color: #8DAA3B; }
a:hover { color: #A2C24A; background: #fff; }
a:active { color: #cfe879; background: #fff; }

blockquote {
  background: rgba(255,255,255,.5);
  padding: 1em;
}

.main-header {
  padding: 3em 1em;
  margin: 0 15%;
  background:
    url(gshadow.png) 90% bottom no-repeat;
  background-color: rgba(255,255,255,.5);
}
